<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table class="table">
    <th>Id</th>
    <th>Product Name</th>
    <th>Category</th>
    <th>Unit Price</th>
    <th>Units In Stock</th>
</table>
<tr *ngFor="let product of products">
    <td>{{product.productId}}</td>
    <td>{{product.productName}}</td>
    <td>{{product.categoryId}}</td>
    <td>{{product.unitPrice}}</td>
    <td>{{product.unitsInStock}}</td>
</tr>